.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}

.products {
  display: grid;
  grid-template-columns: auto auto auto;
}

.product {
  border-radius: 15px;
  width: 225px;
  height: 450px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 80%;
  height: 50%;
  border: 0.4px solid white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(241, 122, 3, 0.24);
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
.pageIndicater {
  margin-left: 20px;
}
.searchOfMainPage {
  margin-left: 1100px;
  padding: 10px;
  border: 2px solid;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  outline: none;
  background-color: #fff8dc;
}

.pageButton {
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  padding: 20px;
  justify-content: space-between;
}

.pageButton button {
  border: 2px solid #fcfc82;
  background-color: #fcfc82;
  padding: 11px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.decrymentButton {
  border-radius: 50px 9px 9px 50px;
}

.increamentButton {
  border-radius: 9px 50px 50px 9px;
}

.pageButton button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(241, 122, 3, 0.24);
}
